version: '3.4'
services:
  postgres:
    image: postgres:12.4
    container_name: ch-pg
    ports:
      - 5432:5432
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - chpgdata:/var/lib/postgresql/data

  redis:
    image: redis:5.0.9
    container_name: ch-redis
    ports:
      - 6379:6379
    volumes:
      - chrsdata:/data

  nginx:
    image: tiangolo/nginx-rtmp:latest-2020-08-16
    container_name: ch-nginx
    ports:
      - 1935:1935
      - 8001:8001
    extra_hosts:
      - localserver:${DHOST_IP}
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf

volumes:
  chpgdata:
  chrsdata: