<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Room #{{ id }}</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-create" type="button" value="Create message">
    {{ id|json_script:"room-name" }}

    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            {% if use_https %}
            'wss://'
            {% else %}
            'ws://'
            {% endif %}
            + window.location.host
            + '{% url "rooms" %}'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            document.querySelector('#chat-log').value += (e.data + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        window.onbeforeunload = function() {
            chatSocket.onclose = function () {}; // disable onclose handler first
            chatSocket.close();
        };

        document.querySelector('#chat-message-input').focus();

        document.querySelector('#chat-create').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;

            chatSocket.send(JSON.stringify({
                'type': 'create_message', 'content': {'text': message}
            }));

            messageInputDom.value = '';
        };
    </script>
</body>
</html>