/* scroll bar chat */
.ui.relaxed.list::-webkit-scrollbar-track {background: none;}
.ui.relaxed.list::-webkit-scrollbar {width: 3px;}
.ui.relaxed.list::-webkit-scrollbar-thumb {border-radius: 4px;background: none;}
.ui.relaxed.list:hover::-webkit-scrollbar-thumb {background: #c0c0c0;}

/* scroll bar player */
.playerBox::-webkit-scrollbar-track {background: none;}
.playerBox::-webkit-scrollbar {width: 4px;}

/* edit style semantic ui react  */

/*.ui.menu {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*}*/

/*.ui.basic.label {*/
/*    border-radius: 8px;*/
/*}*/

/*.ui.basic.label:hover {*/
/*    border: 1px solid #BABABA;*/
/*}*/

/*.ui.dropdown {*/
/*    font-weight: normal;*/
/*    background: #EFEFEF;*/
/*    border-radius: 13px;*/
/*    padding: 8px 11px 0 11px;*/
/*    margin: -5px 10px 0 0;*/
/*    height: 38px;*/
/*    float: right;*/
/*    font-size: 14px;*/
/*}*/

/*.ui.dropdown:hover {*/
/*    background: #E8E8E8;*/
/*}*/

/*.ui.dropdown>.dropdown.icon {*/
/*    padding-left: 11px;*/
/*}*/

/* custom style */
.line-opacity {
    position: absolute;
    top: 72px;
    left: 0;
    right: 0;
    background: #ffffff;
    height: 1px;
    border: 1px solid #ffffff;
    opacity: 0.1;
}

.messages {
    background: white;
    position: absolute;
    width: 25%;
    right: 0;
    top: 133px;
    height: calc(100% - 133px);
    padding-left: 15px;
    border-left: 1px solid #DFDFDF;

    /*font-size: 14px;*/
    /*line-height: 1.43;*/
    word-break: break-word;
}

.message-img {
    min-width: 30px;
    width: 30px;
    height: 30px;
    margin-right: 4px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;

    /*width: 27%; !* Ширина *!*/
    float: left; /* Выстраиваем элементы по горизонтали */
    /*margin: 0 0 0 3.5%; !* Отступ слева *!*/
    /*background: #f0f0f0; !* Цвет фона *!*/
    /*border-radius: 5px; !* Радиус скругления *!*/
    /*padding: 2%; !* Поля *!*/
}

.message-input {
    position: absolute;
    bottom: 20px;
    right: 15px;
    width: 23%;
}

.playerBox {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 80px;
    height: calc(100% - 80px);
    background: #f0f0f0;
    width: 75%;
    overflow: auto;
}

.videoPlayer {
    background: #000000;
}

.contentStream {
    margin: 20px 20px 30px 20px;
}

.chatHeader {
    background: white;
    position: absolute;
    width: 25%;
    right: 0;
    top: 80px;
    /*height: calc(100% - 80px);*/
    border-left: 1px solid #DFDFDF;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    padding: 10px 0 10px 10px;
    margin-left: -10px;
}

.timetable {
    line-height: 26px;
    margin-bottom: 30px;
    background: #FFFFFF;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
    margin-top: 20px;
    border-radius: 15px;
    padding: 11px;
}

.timetable-content {
    background: #F0F0F0;
    border-radius: 8px;
    padding: 10px 15px 25px 15px;
}

.flex-block {
    display: flex;
}

a.stream-button {
    color: #252525;
    font-size: 22px;
    font-weight: bold;
    margin-left: -40px;
    opacity: 0.7;
}

a.stream-button:hover {
   opacity: 1;
}

.stream-button i.icon {
    margin: -4px 0 0 0;
}

.soc-button {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 50px auto 90px auto;
}

/* background vezaks.com */

html, body {
    background-color: #f0f0f0 !important;
}

p {
    padding-top: 10px;
}

ul {
    margin:0 auto;
    padding:0 0 0 0;
}

.bagfot {
    margin-right: 40px;
    font-size: 16px;
    color: #a3a3a3;
}

.bagfot:hover {
    color: #767676;
}

.topfot {
    font-size: 16px;
    color: #a3a3a3;
}

.topfot:hover {
    color: #767676;
}

.headerback {
    width: 100%;
    height: 484px;
    background: linear-gradient(rgba(0, 0, 0, 0.84), rgba(0, 0, 0, 0.84)), url(http://vezaks.com/assets/img/sh03-min.jpg);
    background-size: 116%;
    background-position-x: -4rem;
}

.headerWrraper {
    margin: 0 auto;
    text-align: center;
    width: 980px;
    height: 484px;
    color: #ffffff;
}

.menuVez {
    margin:0 auto;
    padding:0 0 0 0;
    height:80px;
    width:978px;
    display:block;
    background: rgba(247,247,247,0.37);
    background: -moz-linear-gradient(top, rgba(247,247,247,0.37) 0%, rgba(247,247,247,0.08) 61%, rgba(247,247,247,0) 77%);
    background: -webkit-linear-gradient(top, rgba(247,247,247,0.37) 0%, rgba(247,247,247,0.08) 61%, rgba(247,247,247,0) 77%);
    background: -o-linear-gradient(top, rgba(247,247,247,0.37) 0%, rgba(247,247,247,0.08) 61%, rgba(247,247,247,0) 77%);
    background: -ms-linear-gradient(top, rgba(247,247,247,0.37) 0%, rgba(247,247,247,0.08) 61%, rgba(247,247,247,0) 77%);
    background: linear-gradient(to bottom, rgba(247,247,247,0.37) 0%, rgba(247,247,247,0.08) 61%, rgba(247,247,247,0) 77%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f7f7f7', GradientType=0 );
}

.menuVez li {
    margin:0;
    list-style:none;
    display:inline;
}

.menuVez li a {
    float:left;
    padding:28px 69px 0 69px;
    height:80px;
    color:rgb(255,255,255);
    text-decoration:none;
    font:18px Trebuchet MS;
    cursor:pointer;
}

.menuVez li a:hover {
    background-color: rgba(255, 255, 255, 0.13);
}

.spacebet {
    display: flex;
    justify-content: space-between;
}

.blink {
    float:left;
    border-radius:50%;
    margin:4px -25px 0 13px;
    width:9px;
    height:9px;
    background:#EF0A0A;
    animation-name: blinker;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    animation-duration: 4s;
    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    -webkit-animation-duration: 1s;
}

@keyframes blinker {
    from { opacity: 1.0; }
    to { opacity: 0.0; }
}

@-webkit-keyframes blinker {
    from { opacity: 1.0; }
    to { opacity: 0.0; }
}

.streamon {
    z-index:6;
    color:#EF0A0A;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.33) 0%, rgba(255, 0, 0, 0.05) 100%);
    width:175px;
    height:80px;
    padding:28px 0 9px 15px;
    transition:0.3s;
    font: 16px Trebuchet MS;
}

.streamon:hover {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.56) 0%, rgba(255, 0, 0, 0.12) 100%);
}

.userLink:hover {
    text-decoration: underline;
}